

.main-success{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.success-img{
    margin-top: 4vw;
    text-align: center;
    width: 8vw;
    height: 8vw;
}

.success_txt{
    margin: 5vw;
    text-align: center;
    font-size: 5vw;
    color: green;
}